<modx>
    <database_type>mysql</database_type>
    <database_server>modxdb</database_server>
    <database>modx</database>
    <database_user>modx</database_user>
    <database_password>modx</database_password>
    <database_connection_charset>utf8</database_connection_charset>
    <database_charset>utf8</database_charset>
    <database_collation>utf8_general_ci</database_collation>
    <table_prefix></table_prefix>
    <https_port>443</https_port>
    <http_host>localhost</http_host>
    <cache_disabled>0</cache_disabled>
    <inplace>1</inplace>
    <unpacked>0</unpacked>
    <language>en</language>
    <cmsadmin>admin</cmsadmin>
    <cmspassword>admin</cmspassword>
    <cmsadminemail>admin@modx.com</cmsadminemail>
    <core_path>/var/www/html/modx-2.6.2-pl/core/</core_path>
    <context_mgr_path>/var/www/html/modx-2.6.2-pl/manager/</context_mgr_path>
    <context_mgr_url>/manager/</context_mgr_url>
    <context_connectors_path>/var/www/html/modx-2.6.2-pl/connectors/</context_connectors_path>
    <context_connectors_url>/connectors/</context_connectors_url>
    <context_web_path>/var/www/html/modx-2.6.2-pl</context_web_path>
    <context_web_url>/</context_web_url>
    <remove_setup_directory>1</remove_setup_directory>
</modx>
