<modx>
    <database_type>mysql</database_type>
    <database_server>{{MYSQL_HOST}}</database_server>
    <database>{{MYSQL_DATABASE}}</database>
    <database_user>{{MYSQL_USER}}</database_user>
    <database_password>{{MYSQL_PASSWORD}}</database_password>
    <database_connection_charset>utf8</database_connection_charset>
    <database_charset>utf8</database_charset>
    <database_collation>utf8_general_ci</database_collation>
    <table_prefix></table_prefix>
    <https_port>443</https_port>
    <http_host>localhost</http_host>
    <cache_disabled>0</cache_disabled>
    <inplace>1</inplace>
    <unpacked>0</unpacked>
    <language>en</language>
    <cmsadmin>{{ADMIN_USER}}</cmsadmin>
    <cmspassword>{{ADMIN_PASSWORD}}</cmspassword>
    <cmsadminemail>{{ADMIN_EMAIL}}</cmsadminemail>
    <core_path>{{APP_ROOT}}/core/</core_path>
    <context_mgr_path>{{APP_ROOT}}/manager/</context_mgr_path>
    <context_mgr_url>/manager/</context_mgr_url>
    <context_connectors_path>{{APP_ROOT}}/connectors/</context_connectors_path>
    <context_connectors_url>/connectors/</context_connectors_url>
    <context_web_path>{{APP_ROOT}}</context_web_path>
    <context_web_url>/</context_web_url>
    <remove_setup_directory>1</remove_setup_directory>
</modx>
